#footer {
    display: flex;
    background-color: $footer-background;
    color: $footer-text;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0;
    height: 1.3rem;
}
#contact-me {
    text-decoration: none;
    color: $footer-text;
    padding: 0 .175rem;
    &:hover {
        color: $footer-text-hover;
    }
}