.footer {
    display: flex;
    background-color: $footer-background;
    color: $footer-text;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.6rem;
}
.footer-line {
    &::after {
        content: " |";
    }
    &:last-child::after {
        content: none;
    }
    padding: 0 .175rem;
}
.position-relative {
    position: relative;
    margin-top: 3rem;
}
#contact-me {
    text-decoration: none;
    color: $footer-text;
    &:hover {
        color: $footer-text-hover;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        height: 6rem;
    }
    .footer-line {
        &::after {
            content: none;
        }
    }
}