/* Navbar Container */
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem;
    top: 3rem;
}

/*  */
#nav-title {
    color: $navbar-active;
    text-decoration: none;
    font-size: 2rem;
}
.nav-page-link {
    font-size: 1.4rem;
    padding-left: 1.2rem;
}

/* Different Classes for active and inactive links */
.nav-active {
    color: $navbar-active;
    text-decoration: none;
}
.nav-inactive {
    color: $navbar-inactive;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
    &:hover {
        color: $navbar-hover;
    }
}

.navbar-toggle-btn {
    padding: 0;
    background: none;
    border: none;
    color: $title;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    transition: transform 0.3s ease;
    transform: rotate(0);
    margin-right: .3rem
}
.navbar-toggle-btn-active {
    @extend .navbar-toggle-btn;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

@media (max-width: 800px) {
    #navbar {
        position: sticky;
        top: 0;
        padding: .5rem;
        flex-direction: column;
        margin: 0;
        margin-bottom: 1.5rem;
        background-color: white;
        box-shadow: 0 0 .1rem .1rem black;

    }
    #nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav-title {
        color: $title;
    }
    .nav-active {
        color: $mob-nav-active;
    }
    .nav-inactive {
        color: $mob-nav-inactive;
    }
    .navbar-toggle-btn {
        display: flex;
    }
    .nav-pages {
        display: none;
    }
    .nav-drop-down {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 1rem;
        align-items: center;
        background-color: #eaeaea;
    }
    .nav-page-link {
        padding: 0;
        margin-bottom: .5rem;
    }
    .website-container-div {
        margin-top: 0;
    }
}