body {
    margin: 0;
    background-color: #8a2be2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237658f1'/%3E%3Cstop offset='1' stop-color='%237658f1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23458bf1'/%3E%3Cstop offset='1' stop-color='%23458bf1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2331b8ff'/%3E%3Cstop offset='1' stop-color='%2331b8ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238a2be2'/%3E%3Cstop offset='1' stop-color='%238a2be2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236185ff'/%3E%3Cstop offset='1' stop-color='%236185ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300eaff'/%3E%3Cstop offset='1' stop-color='%2300eaff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: oswald;
    min-height: 94.9vh;
}
.website-container-div {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.container-div {
    background-color: $content-div-background;
    border-radius: 1.5rem;
    display: flex;
    width: 70%;
        justify-content: center;
    h1 {
        color: $title;
        font-size: 4rem;
    }
    h3 {
        color: $title;
        font-size: 2.5rem;
    }
    p {
        color: $text;
        font-size: 1.5rem;
    }
}

// Example Phone Layout
.phone-portrait {
    width: 412px;
    height: 915px;
    .footer {
        width: 412px;
    }
}
.phone-landscape {
    width: 915px;
    height: 412px;
    .footer {
        width: 915px;
    }
}

// Example Tablet Layout
.tablet-portrait {
    width: 820px;
    height: 1180px;
    .footer {
        width: 820px;
    }
}
.tablet-landscape {
    width: 1180px;
    height: 820px;
    .footer {
        width: 1180px;
    }
}