.homepage-container-div {
    max-width: 100%;
    background-color: $content-div-background;
    border-radius: 1.5rem;
    display: flex;
    width: 85%;
    max-width: 100vw;
    padding: 2rem;
    justify-content: space-around;
    h1 {
        color: $title;
        font-size: 4rem;
    }
    h3 {
        color: $title;
        font-size: 2.5rem;
    }
    p {
        color: $text;
        font-size: 1.5rem;
    }
}
#profile-picture-container {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}
#profile-picture {
    width: auto;
    height: 30rem;
    border-radius: 1rem;
}
#profile-information {
    max-width: 100%;
    width: 60rem;
}
#homepage-description {
    a {
        color: $west-mec;
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover {
            color: $west-mec-hover;
        }
    }
}

#socials {
    margin-top: 2rem;
}
.icon {
    font-size: 4rem;
    margin-right: 1rem;
    transition: color 0.2s ease;
}
#phone-icon {
    color: $phone;
    &:hover {
        color: $submit-btn;
    }
}
#email-icon {
    color: $email;
    &:hover {
        color: $email-hover;
    }
}
#linkedin-icon {
    color: $linkedin;
    &:hover {
        color: $linkedin-hover;
    }
}
#github-icon {
    color: $github;
    &:hover {
        color: $github-hover;
    }
}

@media screen and (max-width: 1350px) {
    .homepage-container-div {
        flex-direction: column;
        h1 {
            margin-top: .5rem;
        }
    }
    #profile-picture-container {
        align-self: center;
        margin: auto 0;
    }
    .homepage {
        #footer {
            margin-top: 3rem;
            position: relative;
        }
    }    
    #socials {
        margin: 0;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    #profile-picture {
        height: 24rem;
    }
}

@media screen and (max-height: 925px) {
    #homepage {
        .footer {
            position: relative;
            margin-top: 3rem;
        }
    }
}