#resume-container {
    display: flex;
    background-color: $resume-background;
    margin: 0 auto;
    padding: 3.5rem;
    width: 70rem;
    border-radius: 1rem;
    flex-direction: column;
    h1 {
        font-size: 3rem;
    }
    h2 {
        margin: .3rem 0;
        color: $resume-subtitles;
    }
    h3 {
        font-size: 1.75rem;
        margin: 1rem 0 0 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}

.regular-text {
    font-size: 1.3rem;
    color: $resume-text;
}

#resume-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    #resume-contacts {
        text-align: end;
        flex-direction: column;

        .contact-div {
            margin-bottom: .5rem;
            a {
                text-decoration: none;
                margin-bottom: 1rem;
                &:hover {
                    color: $resume-link-hover;
                }
                .resume-icon {
                    color: $resume-subtitles;
                }
            }
        }
    }
}

#resume-bottom {
    display: flex;
    justify-content: space-between;
    .column {
        width: 48%;
    }
}

.text-boxes {
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.skill-box {
    background-color: $skills-background;
    color: $resume-background;
    display: inline-flex;
    border-radius: .375rem;
    padding: .375rem .875rem;
    margin: 0 .5rem .5rem 0;
}