#footer {
    display: flex;
    background-color: $footer-background;
    color: $footer-text;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 1.3rem;
}
#contact-us {
    text-decoration: none;
    color: $footer-text;
    &:hover {
        color: $footer-text-hover;
    }
}
.footer-invisible {
    color: $footer-background;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}