#navbar {
    display: flex;
}

#navTitle {
    color: $navbar-active;
    text-decoration: none;
}
.navInactive {
    color: $navbar-inactive;
    text-decoration: none;
    &:hover {
        color: $navbar-hover;
    }
}
.navActive {
    color: $navbar-active;
    text-decoration: none;
}